In [1]:
# import the necessary libraries and module
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### http request

In [2]:
url='https://www.imdb.com/chart/toptv'
response=requests.get(url)

In [3]:
#check status code
#200 means successful
response.status_code

200

#### Soup Object

In [4]:
soup=BeautifulSoup(response.content,'html.parser')

In [5]:
results=soup.find('tbody',class_="lister-list").find_all('tr')

#### Targeting the major data needed

In [6]:
#rank
#title
#year
#rating
#link

In [7]:
rank=[]
title=[]
year=[]
rating=[]
link=[]
for result in results:
    rank.append(result.find('td',class_='titleColumn').text.split('.')[0].strip())
    title.append(result.find('td',class_='titleColumn').a.text)
    year.append(result.find('span', class_="secondaryInfo").text.strip('()'))
    rating.append(result.find('td',class_='ratingColumn imdbRating').text.split(' ')[0].strip())
    link.append(result.find('a').get('href'))

In [8]:
import urllib.parse

In [12]:
#combine base_url with href to give the absolute_url for each title

base_url='https://www.imdb.com'
combine_url=[]
for l in link:
    combine_url.append(urllib.parse.urljoin(base_url,l))

#### Load the Data into a dataframe

In [15]:
#create dictionary
imdb_TV_shows=pd.DataFrame({'Rank':rank,
                           'TV_show':title,
                           'Year':year,
                           'Rating':rating,
                           'Link':combine_url})

In [16]:
imdb_TV_shows

,Rank,TV_show,Year,Rating,Link
0,1,Planet Earth II,2016,9.4,https://www.imdb.com/title/tt5491994/
1,2,Breaking Bad,2008,9.4,https://www.imdb.com/title/tt0903747/
2,3,Planet Earth,2006,9.4,https://www.imdb.com/title/tt0795176/
3,4,Band of Brothers,2001,9.4,https://www.imdb.com/title/tt0185906/
4,5,Chernobyl,2019,9.3,https://www.imdb.com/title/tt7366338/
...,...,...,...,...,...
245,246,The Punisher,2017,8.4,https://www.imdb.com/title/tt5675620/
246,247,Garth Marenghi's Darkplace,2004,8.4,https://www.imdb.com/title/tt0397150/
247,248,Mare of Easttown,2021,8.4,https://www.imdb.com/title/tt10155688/
248,249,Kardes Payi,2014,8.4,https://www.imdb.com/title/tt3671754/
249,250,Queer Eye,2018,8.4,https://www.imdb.com/title/tt7259746/

#### Export data into a csv file

In [19]:
imdb_TV_shows.to_csv('imdb_TV_shows.csv',index=False)